<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Update Todo Status</h3>
    <form method="post" action="/v1/todo?/<%= id %>_method=patch">
        <label for="status">Enter Updated status</label>
        <input type="text" name="status"></input>
        <button type="submit">Update Todo</button>
    </form>
    <form method="post" action="/v1/todo?/<%= id %>_method=delete">
        <button type="submit">Delete This Todo</button>
    </form>
</body>
</html>